#texto{
    margin-top:50px;
}
#texto h1{
    font-size: 70px;
    font-family: 'Newsreader', serif; 
}

#texto p{
    font-family: 'Mulish', sans-serif; 
}

/* Ellipse 1 */

#elipse{
    position:absolute;
    top:37px;
    left:-37px;
    height:300px;
    width:300px;
    border-radius:200px;
    background: linear-gradient(
        310deg,
        hsl(276deg 78% 50%) 0%,
          hsl(274deg 79% 51%) 18%,
          hsl(271deg 79% 52%) 34%,
          hsl(268deg 80% 52%) 48%,
          hsl(265deg 81% 53%) 60%,
          hsl(262deg 81% 54%) 71%,
          hsl(259deg 82% 54%) 80%,
          hsl(255deg 83% 55%) 87%,
          hsl(251deg 83% 55%) 94%,
          hsl(247deg 84% 56%) 100%
    );
}

#elipse2{
    position:absolute;
    top:30px;
    left:250px;
  height:10px;
  width:10px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
}

#rectangulo{
    position:absolute;
  height:15px;
  width:5px;
    top:320px;
    left:-40px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
transform:rotate(50deg);
}

#rectangulo2{
    position:absolute;
  height:15px;
  width:5px;
    top:320px;
    left:-40px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
transform:rotate(-50deg);
}