.row{
    padding-top:125px;
    padding-bottom:100px;
}

#texto{
    margin-top:50px;
}
#texto h1{
    font-size: 70px;
    font-family: 'Newsreader', serif; 
}

#texto p{
    font-family: 'Mulish', sans-serif; 
}
.icon_container{
    text-align: center;  
    padding-top: 20px;
}
.icons{
    font-size: 50px;
    background: -webkit-linear-gradient(
      270deg,
  hsl(247deg 84% 56%) 0%,
  hsl(251deg 83% 55%) 18%,
  hsl(255deg 83% 55%) 24%,
  hsl(259deg 82% 54%) 29%,
  hsl(262deg 81% 54%) 34%,
  hsl(265deg 81% 53%) 40%,
  hsl(268deg 80% 52%) 47%,
  hsl(271deg 79% 52%) 57%,
  hsl(274deg 79% 51%) 72%,
  hsl(276deg 78% 50%) 100%

    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icons p{
    font-size: 7px;
    color: black;
    font-family: 'Mulish', sans-serif; 
}

.icons h3{
    color: black;
    font-family: 'Kanit', sans-serif; 
    font-weight: bolder;
}

#tv_container {
    text-align: center;
    height: 400px; /* Adjust TV image height */
    position:relative;   
}

#tv_container:after {
    content: '';
    display: block;
    background: url('mobile.png') no-repeat top left transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;   
}

#tv_container video {
    position: absolute;
    top: 10px;
    left: 25px; /* Adjust left position */
    z-index: 5;
}

.footer {
    width: 100%;
    z-index: 15;
    text-align: center;
    background: black;
    font-family: 'Mulish', sans-serif;
    font-weight: 400; 
}

.navbar{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navbar-brand{
    margin-left: 200px;
    font-weight: bold;
}

#botoFeedback{
    border-radius: 100px;
    margin-right: 200px;
    
}
.nocolor{
    color: black!important;
    cursor: pointer;
}

.nocolor:hover{
    color: blue!important;
    cursor: pointer;
}

/* Ellipse 1 */

#elipse{
    position:absolute;
    top:37px;
    left:-37px;
    height:300px;
    width:300px;
    border-radius:200px;
    background: linear-gradient(
        310deg,
        hsl(276deg 78% 50%) 0%,
          hsl(274deg 79% 51%) 18%,
          hsl(271deg 79% 52%) 34%,
          hsl(268deg 80% 52%) 48%,
          hsl(265deg 81% 53%) 60%,
          hsl(262deg 81% 54%) 71%,
          hsl(259deg 82% 54%) 80%,
          hsl(255deg 83% 55%) 87%,
          hsl(251deg 83% 55%) 94%,
          hsl(247deg 84% 56%) 100%
    );
}

#elipse2{
    position:absolute;
    top:30px;
    left:250px;
  height:10px;
  width:10px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
}

#rectangulo1{
    position:absolute;
  height:15px;
  width:10px;
    top:330px;
    left:-50px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
transform:rotate(50deg);
}

#rectangulo2{
    position:absolute;
  height:15px;
  width:10px;
    top:330px;
    left:-50px;
  border-radius:200px;
  background: linear-gradient(
  310deg,
  hsl(276deg 78% 50%) 0%,
  hsl(274deg 79% 51%) 18%,
  hsl(271deg 79% 52%) 34%,
  hsl(268deg 80% 52%) 48%,
  hsl(265deg 81% 53%) 60%,
  hsl(262deg 81% 54%) 71%,
  hsl(259deg 82% 54%) 80%,
  hsl(255deg 83% 55%) 87%,
  hsl(251deg 83% 55%) 94%,
  hsl(247deg 84% 56%) 100%
);
transform:rotate(-50deg);
}








